@page "/"

<PageTitle>Keymoji Generator</PageTitle>

<div class="container">
    <div class="card custom-card" style="height:95dvh">
        <div class="card-header custom-card-header">
                <h1>🔑 Emoji Key Generator</h1>
                <h6 title="@Guid.Empty" class="card-subtitle text-muted">Generate a unique GUID/UUID formatted emoji key</h6>
            </div>
        <div class="card-body custom-card-body">
            <div class="card-body custom-card-body">
                <div class="row">
                    <div class="col-4 d-none d-md-block">
                        <h4 style="text-align:left;">Generated Key</h4>
                    </div>
                    <div class="col-8 text-end flex-grow-1 text-nowrap">
                        <button type="button" title="Generate" class="btn btn-primary me-2" @onclick="GenerateKeyAsync">Generate 🔑</button>
                        <button type="button" class="btn btn-outline-primary me-2 d-none d-md-inline-block" @onclick="GenerateTimeKeyAsync">Timestamp 🕒</button>
                        <button type="button" id="copy" title="Copy" class="btn btn-outline-secondary" @onclick="CopyAsync">Copy 📝</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <InputText id="genKey" class="custom-input mt-3 w-100" @bind-Value="Key" readonly="" />
                    </div>
                </div>
                </div>
    </div>
        <div class="card-body background custom-card-background">
            @Background
        </div>
    </div>
</div>

<div id="toast" class="toast align-items-center text-white bg-success border-0 position-fixed top-0 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true" style="z-index: 9999;">
    <div class="d-flex">
        <div class="toast-body">
            Key copied to clipboard!
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="animation: progress-bar-animation 5s linear forwards;"></div>
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>

@code {
    [Inject]
    private IJSRuntime JSRuntime { get; set; } = default!;
    
    private string Key { get; set; } = "";

    private string Background { get; set; } = "🏁";

    private async Task GenerateKeyAsync()
    {
        Key = KeymojiGenerator.GenerateKey();
        Background = KeymojiGenerator.GetRandomEmojis(1);
        await Task.CompletedTask;
    }

    private async Task GenerateTimeKeyAsync()
    {
        var timestamp = DateTimeOffset.UtcNow;
        Key = $"{timestamp.ToLocalTime()}-{KeymojiGenerator.GetRandomEmojis(10)}";
        Background = KeymojiGenerator.GetRandomEmojis(1);
        await Task.CompletedTask;
    }

    private async Task CopyAsync()
    {
        await JSRuntime.InvokeVoidAsync("navigator.clipboard.writeText", Key);

        await JSRuntime.InvokeVoidAsync("showToast");
    }
}